## Deliverable 2. Create a Customer Travel Destinations Map.

In [26]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [27]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,-46.1927,168.8643,65.48,39,0,2.55,clear sky
1,1,Sao Felix Do Xingu,BR,-6.6447,-51.9950,71.65,97,82,1.21,broken clouds
2,2,Brae,GB,60.3964,-1.3530,44.69,87,88,20.78,overcast clouds
3,3,Victoria,HK,22.2855,114.1577,76.03,81,2,11.01,clear sky
4,4,Butaritari,KI,3.0707,172.7902,81.68,77,11,20.47,few clouds

In [34]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
dtype: object

In [28]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [29]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Victoria,HK,22.2855,114.1577,76.03,81,2,11.01,clear sky
4,4,Butaritari,KI,3.0707,172.7902,81.68,77,11,20.47,few clouds
5,5,Denpasar,ID,-8.6500,115.2167,85.71,84,40,4.61,scattered clouds
8,8,Tutoia,BR,-2.7619,-42.2744,76.06,87,44,3.44,light rain
10,10,Dingle,PH,10.9995,122.6711,85.10,70,95,6.15,overcast clouds
13,13,Busselton,AU,-33.6500,115.3333,75.54,60,54,6.20,broken clouds
14,14,Vaini,TO,-21.2000,-175.2000,80.76,89,75,9.22,broken clouds
18,18,Carutapera,BR,-1.1950,-46.0200,75.25,91,100,4.05,overcast clouds
19,19,Kahului,US,20.8947,-156.4700,84.22,55,40,23.02,scattered clouds
20,20,Kapaa,US,22.0752,-159.3190,80.92,66,0,11.50,clear sky

In [35]:
# 4a. Determine if there are any empty rows.
print(preferred_cities_df.isnull().sum())

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [47]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Victoria,HK,22.2855,114.1577,76.03,81,2,11.01,clear sky
4,4,Butaritari,KI,3.0707,172.7902,81.68,77,11,20.47,few clouds
5,5,Denpasar,ID,-8.6500,115.2167,85.71,84,40,4.61,scattered clouds
8,8,Tutoia,BR,-2.7619,-42.2744,76.06,87,44,3.44,light rain
10,10,Dingle,PH,10.9995,122.6711,85.10,70,95,6.15,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
684,684,Garango,BF,11.8000,-0.5506,85.57,16,100,8.32,overcast clouds
685,685,Kousseri,CM,12.0769,15.0306,77.18,15,100,10.60,overcast clouds
688,688,Wewak,PG,-3.5534,143.6268,85.73,68,100,6.29,overcast clouds
691,691,Mogadishu,SO,2.0371,45.3438,77.77,77,100,17.27,overcast clouds
696,696,Puerto Carreno,CO,6.1890,-67.4859,82.40,63,100,8.68,overcast clouds

In [48]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Victoria,HK,76.03,clear sky,22.2855,114.1577,
4,Butaritari,KI,81.68,few clouds,3.0707,172.7902,
5,Denpasar,ID,85.71,scattered clouds,-8.6500,115.2167,
8,Tutoia,BR,76.06,light rain,-2.7619,-42.2744,
10,Dingle,PH,85.10,overcast clouds,10.9995,122.6711,
13,Busselton,AU,75.54,broken clouds,-33.6500,115.3333,
14,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,
18,Carutapera,BR,75.25,overcast clouds,-1.1950,-46.0200,
19,Kahului,US,84.22,scattered clouds,20.8947,-156.4700,
20,Kapaa,US,80.92,clear sky,22.0752,-159.3190,

In [50]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print(hotels["results"][0]["name"] + " found,near " + row["City"])
    except (IndexError):
        print("Hotel not found... skipping.")

Mini Hotel Central found,near Victoria
Isles Sunset Lodge found,near Butaritari
OYO 3156 Hotel Warta 2 found,near Denpasar
Pousada Guará's found,near Tutoia
SEGAYA PROPERTY found,near Dingle
Observatory Guest House found,near Busselton
Keleti Beach Resort found,near Vaini
Lidera found,near Carutapera
Maui Seaside Hotel found,near Kahului
Sheraton Kauai Coconut Beach Resort found,near Kapaa
Hôtel Le Dronmi found,near Cayenne
People ThankYou found,near Rikitea
Pousada dos Navegantes found,near Caravelas
Hilo Hawaiian Hotel found,near Hilo
Paradise Inn found,near Avarua
Tu Casa found,near East London
Broadwater Mariner Resort found,near Geraldton
Lorengau Harbourside Hotel found,near Lorengau
Foyer ADM found,near Mitsamiouli
INN NEW HORIZON found,near Touros
Bora-Bora Pearl Beach Resort & Spa found,near Faanui
Rancho Crepusculo found,near Nisia Floresta
Heritage Park Hotel found,near Honiara
Finch Bay Galapagos Hotel found,near Puerto Ayora
Desert Palms Alice Springs found,near Alice Springs
Centro de Pioneros Exploradores found,near Esmeralda
IBCO REAL ESTATE PROPERTY found,near Berbera
Hotels in Lakshadweep Islands found,near Kavaratti
Hotel not found... skipping.
Tanna Lodge found,near Isangel
Hospitality Carnarvon found,near Carnarvon
Special K's Bed & Breakfast found,near Itamaraca
Welcomhotel By ITC Hotels, Bay Island, Port Blair found,near Port Blair
The Halyards Hotel found,near Port Alfred
hotêl doufoulougou found,near Tabou
Casa Tia Villa found,near Bambous Virieux
PATHFINDER found,near Contai
Hotel Olako found,near Omboue
Hotel Mpampa found,near Soyo
Radisson Grenada Beach Resort found,near Saint-Georges
Cititel Penang found,near Georgetown
Scoop Guest House found,near Hithadhoo
Haajy Guest House 1 found,near Kulhudhuffushi
Castle Motor Lodge Motel found,near Bowen
St. joseph catholic church found,near Kyaikkami
Hospitality Esperance found,near Esperance
Hôtel Igor found,near Markala
Avila Vista found,near Leopold
hotel diana found,near Timbiqui
Osprey Beach Hotel found,near Cockburn Town
Agapita M. Nicart found,near San Policarpo
El Buen Hotel found,near Hatillo
Wilfredo Sotto Home found,near Tambilil
Wahyu found,near Liku
Chambres d'hôte "La Trinité" found,near Saint-Philippe
HMHotel found,near Guayaquil
Pousada Porto Praia found,near Arraial Do Cabo
Hotel not found... skipping.
CeBlue Villas & Beach Resort found,near The Valley
Villa Netibor found,near Koungou
Hospedaje Costa Bella found,near Sechura
Yos ega cv found,near Boyolangu
Axim Beach Resort And Spa found,near Axim
Nusa Island Retreat found,near Kavieng
Sea Lounge! Bar, Club & Restaurant found,near Itarema
Hotel Narayan Avezika Comfort found,near Dwarka
Posada Turistica Manapiare found,near Puerto Ayacucho
Shanti Maurice Resort & Spa found,near Souillac
Shiringal Touristic Park found,near Contamana
Hotel not found... skipping.
Mercure Padang found,near Padang
Aldea del Bazar Hotel and Spa found,near Puerto Escondido
Port Lincoln Hotel found,near Port Lincoln
Grage Hotel Bengkulu found,near Bengkulu
Codrington Gardens Bed And Breakfast found,near Codrington
Hotel Santika Luwuk found,near Luwuk
Shandrani Beachcomber Resort & Spa found,near Mahebourg
Fengshui Residence found,near Port-Gentil
Villa Enata found,near Atuona
Hanks place found,near Andros Town
Hôtel Chez Baba found,near Djenne
Hotel Flor de Lis found,near Brejo Santo
Cricaré Praia Hotel found,near Conceicao Da Barra
Divi Village Golf & Beach Resort found,near Oranjestad
Sokowindo Losmen found,near Kefamenanu
Southern Beach Hotel & Resort Okinawa found,near Itoman
LITTLE WAY GUEST HOUSE found,near Tubmanburg
Hotel les Arcades found,near Moroni
Lindsey Hôtel found,near Saint-Pierre
Hilltop, Hafazgona, Bandarban found,near Bandarban
Pousada Monte Carmelo O Pão found,near Belmonte
International Lodge Motel found,near Mackay
Maqna Hotel by Prasanthi found,near Gorontalo
Kamaneahn Hotel Inc found,near Buchanan
JABIR HOTEL found,near Bandarbeyla
Omadhoo Inn found,near Mahibadhoo
Hotel Náutico de Paita found,near Paita
Hotel 77 Poso found,near Poso
Hotel koliba found,near Gaoual
Euronova Freezer found,near Kattivakkam
Hotel Avon Ruby-Dadar found,near Bombay
Kost Pria found,near Meulaboh
Paradise Hotel found,near Wanning
Hotel Ponta Verde Maceió found,near Maceio
Taloa Heights found,near Alofi
Aridolf Resort Wellness and Spa found,near Yenagoa
Hotel Shagun Garden found,near Sendhwa
TDC Village (Hundred Man Camp) found,near Port Keats
Nile Palace Hotel found,near Malakal
Pousada Porto De Canoas found,near Sao Joao Da Barra
Green Villa beach resort found,near Tagusao
Hotel el campesino found,near El Arenal
Hotel Xaguate found,near Sao Filipe
Hotel not found... skipping.
Cafe Lala Rehan Restaurant found,near Jati
OYO 884 Rumoh PMI Hotel found,near Banda Aceh
Grand Kecubung Hotel found,near Pangkalanbuun
Le Monitel found,near Koumac
La Case Bambou found,near Morondava
Marriott's Ko Olina Beach Club found,near Makakilo City
Casa de Beatriz y Chucho found,near Lagunillas
La Caz Oceane found,near Saint-Leu
Nathaniel's Lodge found,near Basco
Planta Hotel & Residences found,near Bacolod
Corper's Lodge Obonoma found,near Abonnema
Seagulls Inn Namatani found,near Namatanai
Pereybere Hotel & Spa found,near Cap Malheureux
Maitai Lapita Village Huahine found,near Fare
Hotel RIKMAN Continental found,near Tura
Leonardo Family Beach House 1 found,near Pundaguitan
Golden Berries Hotel and Convention found,near Tabuk
The Commodore found,near Mount Gambier
Kost Alfa Flat found,near Atambua
Swiss Belhotel Manokwari found,near Manokwari
BON Hotel Waterfront Richards Bay found,near Richards Bay
Colinas de Matasiete found,near La Asuncion
Maison d'hôtes EBEN-EZER DE BOUSSE found,near Bousse
BBM Hotel found,near Chaiyaphum
Mondkor Town, Bagbo Chiefdom, Bo District found,near Mattru
Derogongan Residence found,near Marawi
Hotel y restaurante "El Diamante" found,near Champerico
Hotel not found... skipping.
Harrouni camp de passage found,near Bol
Hotel Pigalle found,near Cabedelo
Pine Tree Motel found,near Katherine
Sunrise Attitude Hotel found,near Quatre Cocos
Vahmoneh Lodge Vanimo found,near Vanimo
Atlantis Hotel found,near Bathsheba
Hotel Vitória Palace found,near Vila Velha
Ramah Kost KITA found,near Pemangkat
Ruidu Hotel found,near Nanchang
Hotel not found... skipping.
Motel Stawell found,near Stawell
The Grace Sydney found,near Sydney
Esquivel's Garden And Resort found,near San Pedro
Sylvia Hotel found,near Maumere
Camp Pālehua found,near Nanakuli
Idlers' Rest Beach Hotel found,near Black River
Sloth Island Nature Resort found,near Bartica
Screensaver found,near Harper
HS Hotsson Smart Acapulco found,near Acapulco
Hotel Kou-Bugny found,near Vao
Casa Alquiler Doña Yenner y Don Wacho found,near Valdez
Tour Eiffel Hotel Benin found,near Porto Novo
Kenara Colony house for Rent found,near Ormara
御宿商旅-中山館 found,near Kaohsiung
Camping de Tipenga found,near Pouembout
Pin Drop Hotel found,near Anloga
HOTEL ISABELA found,near Amahai
Trinity Plains Tourist Park found,near Mareeba
Casa Dora, Bubaque found,near Bubaque
Changyu Hotel found,near Simao
Hotel Atoll Emerald Miyakojima found,near Hirara
DoubleFAG found,near Labuhan
Hotel not found... skipping.
Enon Beach Resort found,near Buluang
Paraiso Escondido found,near Mutis
Desert Gardens Hotel - Ayers Rock Resort found,near Yulara
SanBiz Lodge found,near Kirakira
แอท เมืองพลอย รีสอร์ท At MuangPloy Resort found,near Bo Phloi
Amaloh Boutique Resort found,near Matara
Sunset Inn found,near Monrovia
Ballistic Islet found,near Sarangani
Veranda Paul et Virginie Hotel & Spa found,near Grand Gaube
Le Rocher de Tahiti found,near Tiarei
Sur Plaza Hotel found,near Sur
Maringe Lagoon Lodge found,near Buala
Khách sạn Sài Gòn Bạc Liêu found,near Bac Lieu
Ha'apai Beach Resort found,near Pangai
Banrao found,near Kosum Phisai
Grand Emperor Hotel found,near Macau
Salinas Park Resort Maçarico AP101 found,near Salinopolis
Ungoofaaru Inn found,near Ugoofaaru
Areia Branca Apart Hotel found,near Areia Branca
Mantra Nelson Bay found,near Nelson Bay
ALETHEIA Appartement Sinnamary found,near Sinnamary
OYO 3278 Penginapan Alfajri found,near Lhokseumawe
Tarawa Boutique Hotel found,near Bairiki
Seaside Resort found,near Vung Tau

Storyboard Beach Resort found,near Kloulklubed
Hotel Syariah CN Darussalam found,near Sibolga
Hawaiian Princess Resort found,near Makaha
Valley Breeze Guest House found,near Grenville
La Case LAVAL-GARANGO found,near Garango
Le Pilotis found,near Kousseri
In Wewak Boutique Hotel found,near Wewak
Hotel Juba found,near Mogadishu
Casa Hotel Victoria found,near Puerto Carreno

In [54]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Victoria,HK,76.03,clear sky,22.2855,114.1577,Mini Hotel Central
4,Butaritari,KI,81.68,few clouds,3.0707,172.7902,Isles Sunset Lodge
5,Denpasar,ID,85.71,scattered clouds,-8.6500,115.2167,OYO 3156 Hotel Warta 2
8,Tutoia,BR,76.06,light rain,-2.7619,-42.2744,Pousada Guará's
10,Dingle,PH,85.10,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
13,Busselton,AU,75.54,broken clouds,-33.6500,115.3333,Observatory Guest House
14,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
18,Carutapera,BR,75.25,overcast clouds,-1.1950,-46.0200,Lidera
19,Kahului,US,84.22,scattered clouds,20.8947,-156.4700,Maui Seaside Hotel
20,Kapaa,US,80.92,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [55]:
clean_hotel_df.count()

City                   201
Country                201
Max Temp               201
Current Description    201
Lat                    201
Lng                    201
Hotel Name             201
dtype: int64

In [57]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [58]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [60]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))